@header-height:	100px;
@logo-height:	50px;
@logo-margin:	20px;
@navbar-height:	40px;

body {
	background-image: url('images/dna-orange-merge.jpg');
	.background-cover;
}

#header { 
	.container-fluid;
	height: @header-height;
	width: 100%;
	.background-cover;
}
#main-wrapper {
	.container-fluid;
	#main-content { .make-row(); 
		#left-content { .make-md-column(2); }
		#carousel-container { 
			.make-md-column(8);
			.jumbotron; 
			padding: 0 20%;

			#carousel {
				margin:	0 15%;
				img {
					margin: 0 auto;
					height: 300px;
				}
			}
		}
		#right-content { .make-md-column(2); }
	}
}

#footer {
	background-color: @navbar-default-bg;
}
