@header-height:	100px;
@logo-height:	50px;
@logo-margin:	30px;
#header { 
	.container-fluid;
	height: @header-height;
	width: 100%;
	.background-cover;
	background-image: url('images/dna-orange.jpg');
}
#navigation { .navbar; .navbar-default; .container-fluid; }
// #brand { .navbar-brand; }
#logo { 
	height: @logo-height; 
	width: auto; 
	//margin-top: -@logo-height/2 + (@header-height - 2*@navbar-padding-vertical)/2;
	margin: @logo-height/2 @logo-margin 0;
	float: left;
}
.navbar { border: none; }
#navigation-header { .navbar-header; }
#navbar-list { .nav; }
.caret { margin-left: 6px; }
.dropdown-menu { 
	border: none; 
	background-color: @navbar-default-bg;
	box-shadow: none;
	> li > a { padding: 7px 20px; }
}

@primary:        hsl(202, 100%, 50%);

// Primary Variants -
@primaryLight:   hsl(hue(@primary), 100%, 70%);
@primaryDark:    hsl(hue(@primary), 60%, 40%);
@primaryFaded:   hsl(hue(@primary), 60%, 65%);

// 180degree Variants
@variant:         spin((@primary), 180);
@variantLight:    hsl(hue(@variant), 100%, 70%);
@variantDark:     hsl(hue(@variant), 60%, 40%);
@variantFaded:    hsl(hue(@variant), 60%, 65%);

// 90degree Variants
@corner:         spin((@primary), 70);
@cornerLight:    hsl(hue(@corner), 100%, 70%);
@cornerDark:     hsl(hue(@corner), 60%, 40%);
@cornerFaded:    hsl(hue(@corner), 60%, 65%);
