@header-height:	100px;
@logo-height:	50px;
@logo-margin:	20px;
@navbar-height:	40px;

body {
	background-image: url('images/dna-orange-merge.jpg');
	.background-cover;
}

#header { 
	.container-fluid;
	position: relative;
	.background-cover;
	height: @header-height; width: 100%;
	#page-location {
		position: absolute;
		bottom: 0px; right: 30px; 
		float: right;
		font-size: 20px;
		font-weight: bold;
	}
}

.main-wrapper {
	.container-fluid;
	.main-content { 
		.make-row(); 
		padding: 0 10%;
		
		#carousel-container {
			//.make-md-column(7);
			margin: 20px 0;
			#carousel {
				margin: 0 auto;
				width: 70%;
				img { margin: 0 auto; max-height: 400px; }
			}
		}
		#news { 
			div {
				width: 90%; height: 100%;
				margin: 0 auto 20px;
				word-wrap: break-word;
				background-color: rgba(255, 255, 255, .4);
				border-radius: 10px;
				//font-weight: bold;
				padding: 10px 15px;
			}
		}
	}
}

#footer {
	background-color: @navbar-default-bg;
}
