.staff-profile {
	.make-row();
	width: 80%;
	border: 1px solid gainsboro;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, .8);
	padding: 30px 100px;
	.staff {
		.make-md-column(3);
		border: 2px solid @primary;
		background-color: @primary-bg;
		padding: 10px;
		img { 
			max-height: 150px; border-radius: 100%; 
			margin: 10px auto;
			display: block;
		}
		.name {
			text-align: center; 
			font-size: 20px;
		}
	}
	.staff-bio {
		.make-md-column(9);
		.bio {
			padding: 0 30px 0;
		}
	}
}
