.staff-profile {
	.make-row();
	//max-width: 80%;
	max-width: 100%;
	//border: 1px solid gainsboro;
	margin: 0 auto;
	padding: 15px 0px;
	.staff-header {
		.make-md-column(4);
		//background-color: @primary-bg;
		padding: 3% 5%;
		img { 
			max-height: 100%; max-width: 100%;
			margin: 0 auto;
			border: 2px solid @primary;
			//max-height: 150px; border-radius: 100%; 
			//margin: 10px auto;
			display: block;
		}
		.name, .title { text-align: center; }
		.name { font-size: 22px; font-family: @font; }
		.title { font-size: 15px; font-family: @font2; color: gray; }
	}
	.staff-bio {
		.make-md-column(8);
		.bio {
			padding: 5% 5% 0 0;
		}
	}
}
